@{
    ViewBag.Title = "Pagina de Suma NonAction";
}
<h1>Bienvenido a la @ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="nonaction" method="post">
    Numero 1 : <input name="n1" type="text" /> <br /><br />
    Numero 2 : <input name="n2" type="text" /> <br /><br />
    <br /><br />

    <input type="submit" value="+" formaction="SumTemp" /> &nbsp;&nbsp;&nbsp;
</form>

<h2 style="color:crimson; background-color:darksalmon; padding:10px;">
    @ViewBag.Result
</h2>












